body
{
	width:100%; 
	text-shadow:3px 3px #ffe680; 
	background-color:#CCFFFF; 
	color:#FF9147;  
	font-family: 'Roboto Condensed', 'sans-serif';
	background-image: url(../gallery/skullsBlue2.png);
}

.wrapper
{
	width:98%; 
	margin:0px auto; 
	font-size:180pt; 
	text-align:center;
}

#lblTop
{
	width:100%;
	font-size:100pt;
}

#lblBottom
{
	width:100%; 
	margin-top:30px;
}

@media screen and (max-width: 610px) {
	.wrapper
	{
		font-family: 'Arial';
		font-size: 35pt;
	}
	#lblTop
	{
		font-family: 'Arial';
		font-size: 25pt;
	}
	#divLabels
	{
		margin-top:18%;
	}
}