body
{
	width:100%; 
	background-color:white; 
	color:black;
}

.wrapper
{
	width:95%; 
	margin:0px auto; 
	font-size:210pt; 
	text-align:center;
}

#lenny
{
	margin-top:55.5%; 
	font-family: 'Droid Sans', 'sans-serif';
}

@media screen and (max-width: 610px) {
	#lenny
	{
		font-family: 'Arial';
		font-size: 80pt;
	}
}
